apiVersion: v1
kind: Pod
metadata:
  labels:
    name: redis
    role: master
  name: redis-master
spec:
  containers:
    - name: master
      image: redis:4.0.8
      env:
        - name: MASTER
          value: "true"
      ports:
        - name: redis-master
          containerPort: 6379
      resources:
        limits:
          cpu: "0.1"
      volumeMounts:
        - mountPath: /redis-master-data
          name: data
  volumes:
    - name: data
      emptyDir: {}
